.privacy .h1 {
  margin: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.privacy .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  margin-bottom: 60px;
}

.privacy .content * {
  margin: 0;
}

@media (max-width: 1320px) {
  .privacy .h1 {
    margin: calc(
        30px + 30 *
          (
            (100vw - 360px) / 960
          )
      );
  }

  .privacy .content {
    grid-row-gap: calc(
        5px + 5 *
          (
            (100vw - 360px) / 960
          )
      );
  }

  .privacy .content {
    margin-bottom: calc(
        30px + 30 *
          (
            (100vw - 360px) / 960
          )
      );
  }
}